<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LoginSystem"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/imanager"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".settings.view.Settings" />
        <activity android:name=".report.views.ManageReports" />
        <activity android:name=".employee.views.edit.EditDetailsActivity" />
        <activity android:name=".employee.views.manage.ManageEmployeeActivity" />
        <activity android:name=".employee.views.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".employee.views.create.CreateEmployeeActivity" />
    </application>

</manifest>